body {
  background-color: lightblue;
}

.container {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header {
  font-family: 'oswald';
  font-size: 10em;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 7em;
  }
}

.subtext {
  font-family: 'raleway';
  font-size: 1em;
}
